<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8" />
<meta name="author" content="order by dede58.com"/>
<title>DeathGhost-我的购物车</title>
<meta name="keywords" content="DeathGhost,DeathGhost.cn,web前端设,移动WebApp开发" />
<meta name="description" content="DeathGhost.cn::H5 WEB前端设计开发!" />
<meta name="author" content="DeathGhost"/>
<link href="/static/style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/public.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jqpublic.js"></script>
<script th:inline="javascript" src="/static/js/cart.js"></script>
<!--
Author: DeathGhost
Author URI: http://www.deathghost.cn
-->
</head>
<body>
<header>
 <section class="Topmenubg">
  <div class="Topnav">
   <div class="LeftNav">
       <a href="/user/register">注册</a>/<a href="/user/login">登录</a>
   </div>
  <div class="RightNav">
      <a href="/user/user_center">用户中心</a> <a href="/user/user_center">我的订单</a> <a href="/user/cart">购物车</a><a href="/business/BusLoad">商家登录</a>
  </div>
  </div>
 </section>
 <div class="Logo_search">
 <div class="Logo">
     <img src="../static/images/logo.jpg" title="校园外卖">
     <i></i>
     <span>[ 西安邮电大学 ]</span>
 </div>
  <div class="Search"> 
   <form method="get" id="main_a_serach" onsubmit="return check_search(this)">
   <div class="Search_nav" id="selectsearch">
    <a href="javascript:;" onClick="selectsearch(this,'restaurant_name')" class="choose">餐厅</a>
    <a href="javascript:;" onClick="selectsearch(this,'food_name')">食物名</a>
   </div>
   <div class="Search_area"> 
   <input type="search" id="fkeyword" name="keyword" placeholder="请输入您所需查找的餐厅名称或食物名称..." class="searchbox" />
   <input type="submit" class="searchbutton" value="搜 索" />
   </div>
   </form>
  </div>
 </div>
 <nav class="menu_bg">
     <ul class="menu">
         <li><a href="/index/">首页</a></li>
         <li><a href="/index/list?currentPage=1&paixu=b_score">商户</a></li>
         <li><a href="/index/category?currentPage=1&paixu=f_price">美食</a></li>
         <!--<li><a href="category.html">积分商城</a></li>-->
         <!--<li><a href="article_read.html">关于我们</a></li>-->
     </ul>
 </nav>
</header>
<!--Start content-->
<form action="#">
 <div class="gwc" style=" margin:auto;">
  <table cellpadding="0" cellspacing="0" class="gwc_tb1">
    <tr>
      <td class="tb1_td1"><input id="Checkbox1" type="checkbox"  class="allselect" style="display: none"/></td>
      <td class="tb1_td1">店铺</td>
      <td class="tb1_td3">商品</td>
      <td class="tb1_td5">数量</td>  
      <td class="tb1_td6">单价</td>
      <td class="tb1_td7">操作</td>
    </tr>
  </table>
     <span th:each="map,cStat:${map}">
         <tr>
             <table cellpadding="0" cellspacing="0" class="gwc_tb2">
                   <td class="tb2_td1"><input type="checkbox" value="1" name="maplist" th:value="${cStat.index}"/></td>
                   <td colspan="7" class="shopname Font14 FontW" th:text="'店铺：' + ${map.key}" style="text-indent: 0em;">店铺：好味来快餐店</td>
             </table>

             <tr th:each="food : ${map.value}" >
              <table cellpadding="0" cellspacing="0" class="gwc_tb2" th:id="'table' + ${food.food_id}">

                  <td class="tb2_td1"><input type="checkbox" value="1" th:name="'newslist' + ${cStat.index}" th:id="'newslist' + ${food.food_id}" style="display: none" yangtao="newslist" th:attr="gwcid=${food.gwc_id}"/></td>
                  <td class="tb2_td2"><a th:href="'/index/detailsp?foodid=' + ${food.food_id}" ><img th:src="@{'../static/upload/' + ${food.food_pic}}"/></a></td>
                  <td class="tb2_td3"><a th:href="'/index/detailsp?foodid=' + ${food.food_id}" th:text="${food.food_name}">酸辣土豆丝</a></td>
                  <td class="tb1_td5"><input id="min1" name="" style="width:30px; height:30px;border:1px solid #ccc;" type="button" value="-" th:onclick="dealSub([[${food.food_id}]], [[${food.cust_id}]])"/>
                      <input th:id="'text' + ${food.food_id}" name="" class="ytonload" type="text" style=" width:40px;height:28px; text-align:center; border:1px solid #ccc;" th:value="${food.food_count}"  th:attr="yttmp=${food.food_id}"/>
                      <input id="add1" name="" style="width:30px; height:30px;border:1px solid #ccc;" type="button" value="+" th:onclick="dealAdd([[${food.food_id}]], [[${food.cust_id}]])"/>
                  </td>
                  <td class="tb1_td6"><label th:id="'price'+${food.food_id}" class="tot" style="color:#ff5500;font-size:14px; font-weight:bold;" th:attr="price=${food.food_price}"></label></td>
                  <td class="tb1_td7"><a href="#"  th:onclick="delcart([[${food.food_id}]], [[${food.cust_id}]])">删除</a></td>

              </table>
             </tr>
         </tr>
     </span>
  <!--<table cellpadding="0" cellspacing="0" class="gwc_tb2" id="table2">-->
    <!--<tr>-->
     <!--<td colspan="7" class="shopname Font14 FontW">店铺：肯德基</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td class="tb2_td1"><input type="checkbox" value="1" name="newslist" id="newslist-2" /></td>-->
      <!--<td class="tb2_td2"><a href="detailsp.html" target="_blank"><img src="upload/02.jpg"/></a></td>-->
      <!--<td class="tb2_td3"><a href="detailsp.html" target="_blank">酸辣土豆丝</a></td>-->
      <!--<td class="tb1_td4"><s>￥59.00</s></td>-->
      <!--<td class="tb1_td5"><input id="min2" name=""  style=" width:30px; height:30px;border:1px solid #ccc;" type="button" value="-" />-->
        <!--<input id="text_box2" name="" type="text" value="1" style=" width:40px;height:28px; text-align:center; border:1px solid #ccc;" />-->
        <!--<input id="add2" name="" style=" width:30px; height:30px;border:1px solid #ccc;" type="button" value="+" />-->
      <!--</td>-->
      <!--<td class="tb1_td6"><label id="total2" class="tot" style="color:#ff5500;font-size:14px; font-weight:bold;"></label></td>-->
      <!--<td class="tb1_td7"><a href="#" id="delcart2">删除</a></td>-->
    <!--</tr>-->
  <!--</table>-->
  <table cellpadding="0" cellspacing="0" class="gwc_tb3">
    <tr>
      <td class="tb1_td1"><input id="checkAll" class="allselect" type="checkbox" style="display: none"/></td>
      <td class="tb1_td1" style="display: none">全选</td>
      <td class="tb3_td1" ><input id="invert" type="checkbox" style="display: none"/>

        <input id="cancel" type="checkbox" style="display: none"/>
         </td>
      <td class="tb3_td2 GoBack_Buy Font14"><a href="/index/" >继续购物</a></td>
      <td class="tb3_td2">已选商品
        <label id="shuliang" style="color:#ff5500;font-size:14px; font-weight:bold;">0</label>
        件</td>
      <td class="tb3_td3">合计(不含运费):<span>￥</span><span style=" color:#ff5500;">
        <label id="zong1" style="color:#ff5500;font-size:14px; font-weight:bold;">0.00</label>
        </span></td>
      <td class="tb3_td4"><span id="jz1">结算</span><a style=" display:none;" href="#" class="jz2" id="jz2" onclick="confirm_order()">结算</a></td>
    </tr>
  </table>
</div>
</form>
<!--End content-->
<div class="F-link">
 </div>
</body>
</html>

<script th:inline="javascript">
    document.getElementById('main_a_serach').action="/index/search_s";
    function confirm_order(){

        var order = "";
        $('.gwc_tb2 input[name=maplist]').each(function () {
            if ($(this).attr("checked") ) {
                var name = $(this).attr("value");
                $('.gwc_tb2 input[name=newslist' + name + ']').each(function () {
                    if ($(this).attr("checked")) {
                        order += $(this).attr("gwcid") + "AND";
                    }
                });
            }
        });
        if(order == ""){
            alert("没有选择商品");
        } else {
            var userId = [[${userId}]];
            window.location.href='/user/confirm_order?userId=' + userId + '&gwcId=' + order;
        }
    }
</script>


