<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8" />
<meta name="author" content="order by dede58.com"/>
<title>DeathGhost-用户中心</title>
<meta name="keywords" content="DeathGhost,DeathGhost.cn,web前端设,移动WebApp开发" />
<meta name="description" content="DeathGhost.cn::H5 WEB前端设计开发!" />
<meta name="author" content="DeathGhost"/>
<link href="../static/style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/js/public.js"></script>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/jqpublic.js"></script>
<!--
Author: DeathGhost
Author URI: http://www.deathghost.cn
-->
</head>
<body>
<header>
 <section class="Topmenubg">
  <div class="Topnav">
   <div class="LeftNav">
    <a href="/user/register">注册</a>/<a href="/user/login">登录</a>
   </div>
   <div class="RightNav">
    <a href="/user/user_center">用户中心</a> <a href="/user/user_center">我的订单</a> <a href="/user/cart">购物车</a><a href="/business/BusLoad">商家登录</a>
   </div>
  </div>
 </section>
 <div class="Logo_search">
  <div class="Logo">
   <img src="../static/images/logo.jpg" title="校园外卖">
   <i></i>
   <span>[ 西安邮电大学 ]</span>
  </div>
  <div class="Search">
   <form method="get" id="main_a_serach" onsubmit="return check_search(this)">
    <div class="Search_nav" id="selectsearch">
     <a href="javascript:;" onClick="selectsearch(this,'restaurant_name')" class="choose">餐厅</a>
     <a href="javascript:;" onClick="selectsearch(this,'food_name')">食物名</a>
    </div>
    <div class="Search_area">
     <input type="search" id="fkeyword" name="keyword" placeholder="请输入您所需查找的餐厅名称或食物名称..." class="searchbox" />
     <input type="submit" class="searchbutton" value="搜 索" />
    </div>
   </form>
  </div>
 </div>
 <nav class="menu_bg">
  <ul class="menu">
   <li><a href="/index/">首页</a></li>
   <li><a href="/index/list?currentPage=1&paixu=b_score">商户</a></li>
   <li><a href="/index/category?currentPage=1&paixu=f_price">美食</a></li>
   <!--<li><a href="category.html">积分商城</a></li>-->
   <!--<li><a href="article_read.html">关于我们</a></li>-->
  </ul>
 </nav>
</header>
<!--Start content-->
<section class="Psection MT20">
<nav class="U-nav Font14 FontW">
  <ul>
   <li><i></i><a href="/user/user_center">我的订单</a></li>
   <li><i></i><a href="/user/user_address">收货地址</a></li>
   <li><i></i><a href="/user/user_account">账户管理</a></li>
   <li><i></i><a href="/user/Offline">安全退出</a></li>
  </ul>
 </nav>
 <article class="U-article Overflow">
  <!--user Address-->
  <section class="Myaddress Overflow">
   <span class="MDtitle Font14 FontW Block Lineheight35">收货人信息</span>
   <tr th:each="ad:${address}">
     <form name="form" method="get" action="">
       <table>
        <tr>
         <td width="30%" class="Font14 FontW Lineheight35" align="right">收件人姓名：</td>
         <td><input type="text" name="a_name" required th:value="${ad.a_name}" class="input_name" ></td>
        </tr>
        <tr>
         <td width="30%" class="Font14 FontW Lineheight35" align="right">收货地址：</td>
         <td><input type="text" required size="50" name="a_address" th:value="${ad.a_address}" class="input_addr"></td>
        </tr>
        <tr>
         <td width="30%" class="Font14 FontW Lineheight35" align="right">手机号码：</td>
         <td><input type="text" name="a_phone" required pattern="[0-9]{11}" th:value="${ad.a_phone}" class="input_tel"></td>
        </tr>
        <tr style="display: none">
         <td width="30%" class="Font14 FontW Lineheight35" align="right">手机号码：</td>
         <td><input type="text" name="a_user" required pattern="[0-9]{11}" th:value="${user}" class="input_tel"></td>
        </tr>
        <tr style="display: none">
         <td width="30%" class="Font14 FontW Lineheight35" align="right">手机号码：</td>
         <td><input type="text" name="a_id" required pattern="[0-9]{11}" th:value="${ad.a_id}" class="input_tel"></td>
        </tr>
        <tr>
         <td align="right"  width="30%" class="Font14 FontW Lineheight35"></td>
         <td class="Lineheight35"><input name="Submit2" type="button" value="确认修改" class="Submit" onClick="this.form.action='ChangeAddress';this.form.submit();"><input name="Submit3" type="button" value="删除" class="Submit" onClick="this.form.action='DeletAddress';this.form.submit();"></td>
        </tr>
       </table>
     </form>
   </tr>
   <!--add new address-->
   <form action="addAddress1" method="get">
    <table style="margin-top:10px;">
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">收件人姓名：</td>
     <td><input type="text" name="a_name" required  class="input_name"></td>
    </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">收货地址：</td>
     <td><input type="text" required name="a_address" class="input_addr"></td>
    </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">手机号码：</td>
     <td><input type="text" name="a_phone" required pattern="[0-9]{11}" class="input_tel"></td>
    </tr>
    <tr style="display: none">
     <td width="30%" class="Font14 FontW Lineheight35" align="right">user：</td>
     <td><input type="text" name="a_user" required pattern="[0-9]{11}" th:value="${user}" class="input_tel"></td>
    </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right"></td>
     <td class="Font14 Font Lineheight35"><input name="新增收货地址" type="button" value="新增收货地址"  class="Submit" onClick="this.form.submit()"></td>
    </tr>
   </table>
   </form>
  </section>
 </article>
</section>
<!--End content-->
<div class="F-link">
  <span>友情链接：</span>
  
  
  
  
</div>
</body>
</html>
