<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8" />
<meta name="author" content="西邮校园外卖"/>
<title>DeathGhost-用户中心</title>
<meta name="keywords" content="西邮校园外卖" />
<meta name="description" content="西邮校园外卖" />
<meta name="author" content="西邮校园外卖"/>
<link href="../static/style/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../static/js/public.js"></script>
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/jqpublic.js"></script>
<!--
Author: DeathGhost
Author URI: http://www.deathghost.cn
-->
</head>
<body>
<header>
 <section class="Topmenubg">
  <div class="Topnav">
   <div class="LeftNav">
    <a href="/user/register">注册</a>/<a href="/user/login">登录</a>
   </div>
   <div class="RightNav">
    <a href="/user/user_center">用户中心</a> <a href="/user/user_center">我的订单</a> <a href="/user/cart">购物车</a><a href="/business/BusLoad">商家登录</a>
   </div>
  </div>
 </section>
 <div class="Logo_search">
  <div class="Logo">
   <img src="../static/images/logo.jpg" title="校园外卖">
   <i></i>
   <span>[ 西安邮电大学 ]</span>
  </div>
  <div class="Search">
   <form method="get" id="main_a_serach" onsubmit="return check_search(this)">
    <div class="Search_nav" id="selectsearch">
     <a href="javascript:;" onClick="selectsearch(this,'restaurant_name')" class="choose">餐厅</a>
     <a href="javascript:;" onClick="selectsearch(this,'food_name')">食物名</a>
    </div>
    <div class="Search_area">
     <input type="search" id="fkeyword" name="keyword" placeholder="请输入您所需查找的餐厅名称或食物名称..." class="searchbox" />
     <input type="submit" class="searchbutton" value="搜 索" />
    </div>
   </form>
  </div>
 </div>
 <nav class="menu_bg">
  <ul class="menu">
   <li><a href="/index/">首页</a></li>
   <li><a href="/index/list?currentPage=1&paixu=b_score">商户</a></li>
   <li><a href="/index/category?currentPage=1&paixu=f_price">美食</a></li>
   <!--<li><a href="category.html">积分商城</a></li>-->
   <!--<li><a href="article_read.html">关于我们</a></li>-->
  </ul>
 </nav>
</header>
<!--Start content-->
<section class="Psection MT20">
<nav class="U-nav Font14 FontW">
 <ul>
  <li><i></i><a href="/user/user_center">我的订单</a></li>
  <li><i></i><a href="/user/user_address">收货地址</a></li>
  <li><i></i><a href="/user/user_account">账户管理</a></li>
  <li><i></i><a href="/user/Offline">安全退出</a></li>
 </ul>
 </nav>
 <article class="U-article Overflow">
  <!--"引用“user_page/user_index.html”"-->
  <section class="usercenter">
   <span class="Weltitle Block Font16 CorRed FontW Lineheight35">Welcome欢迎光临西邮校园外卖！</span>
   <!--<div class="U-header MT20 Overflow">
    <img src="upload/testuser.jpg">
    <p class="Font14 FontW">DeathGhost 欢迎您回到 用户中心！</p>
    <p class="Font12">您的上一次登录时间:<time> 2016-05-18 14:20:04</time></p>
    <p class="Font12 CorRed FontW">我的优惠券( 0 ) | 我的积分( 0 )</p>
   </div>-->
    <ul class="s-States Overflow FontW" id="Lbn">
     <li class="Font14 FontW">订单号</li>
     <li><a href="#" id="daifukuan" th:text="'待付款( ' + ${dfk.size() + ')'}">待付款( 0 )</a></li>
     <li><a href="#" id="daifahuo" th:text="'待发货( ' + ${dfh.size() + ')'}">待发货( 0 )</a></li>
     <li><a href="#" id="daishouhuo" th:text="'待收货( ' + ${dsh.size() + ')'}">待收货( 0 )</a></li>
     <li><a href="#" id="daipingjia" th:text="'待评价( ' + ${dpj.size() + ')'}">待评价( 0 )</a></li>
    </ul>
    <span></span>
    <table class="Myorder" id="daifukuan1" style="display: table;">
     <tr th:each="dfk:${dfk}">
      <td class="FontW"><a href="user_order.html" th:text="'订单号：' + ${dfk.order_id}">订单号：201409225367</a></td>
      <td th:text="${dfk.order_date}">2014-09-22 19:21:38</td>
      <td th:text="${dfk.order_user}">DeathGhost</td>
      <td th:text="${dfk.order_price}">￥328.00</td>
      <td><a th:href="'/user/user_order?order_id=' + ${dfk.order_id} + '&order_state=' + ${dfk.order_state}">点击查看详细</a></td>
      <td><a th:href="'/user/deleteOrder?order_id=' + ${dfk.order_id}">删除订单</a> | <a th:href="'respond?order_id=' + ${dfk.order_id} + '&order_price=' + ${dfk.order_price}" target="_blank">付款</a></td>
     </tr>
    </table>
    <table class="Myorder" id="daifahuo1" style="display: none;">
     <tr th:each="dfh:${dfh}">
      <td class="FontW"><a href="user_order.html" th:text="'订单号：' + ${dfh.order_id}">订单号：201409225367</a></td>
      <td th:text="${dfh.order_date}">2014-09-22 19:21:38</td>
      <td th:text="${dfh.order_user}">DeathGhost</td>
      <td th:text="${dfh.order_price}">￥328.00</td>
      <td><a th:href="'user_order?order_id=' + ${dfh.order_id} + '&order_state=' + ${dfh.order_state}">点击查看详细</a></td>
      <td><a href="#">取消订单</a></td>
     </tr>
    </table>
    <table class="Myorder" id="daishouhuo1" style="display: none;">
     <tr th:each="dsh:${dsh}">
      <td class="FontW"><a href="user_order.html" th:text="'订单号：' + ${dsh.order_id}">订单号：201409225367</a></td>
      <td th:text="${dsh.order_date}">2014-09-22 19:21:38</td>
      <td th:text="${dsh.order_user}">DeathGhost</td>
      <td th:text="${dsh.order_price}">￥328.00</td>
      <td><a th:href="'user_order?order_id=' + ${dsh.order_id} + '&order_state=' + ${dsh.order_state}">点击查看详细</a></td>
      <td><a href="#">取消订单</a> | <a th:href="'confirmReceipt?order_id=' + ${dsh.order_id}">确认收货</a></td>
     </tr>
    </table>
    <table class="Myorder" id="daipingjia1" style="display: none;">
     <tr th:each="dpj:${dpj}">
      <td class="FontW"><a href="user_order.html" th:text="'订单号：' + ${dpj.order_id}">订单号：201409225367</a></td>
      <td th:text="${dpj.order_date}">2014-09-22 19:21:38</td>
      <td th:text="${dpj.order_user}">DeathGhost</td>
      <td th:text="${dpj.order_price}">￥328.00</td>
      <td><a th:href="'user_order?order_id=' + ${dpj.order_id} + '&order_state=' + ${dpj.order_state}">点击查看详细</a></td>
      <td><a th:href="'user_pj?order_id=' + ${dpj.order_id} + '&order_state=' + ${dpj.order_state}">评价</a></td>
     </tr>
    </table>
    
       
    
  </section>
 </article>
</section>
<!--End content-->
<!--<div class="F-link">
  <span>友情链接：</span>
 </div>-->
<!--<footer>
</footer>-->
<script>
	$("#daifukuan").click(function () {
		$("#daifukuan1").css('display','table');
		$("#daifahuo1").css('display','none'); 
		$("#daishouhuo1").css('display','none'); 
		$("#daipingjia1").css('display','none'); 
	});
	$("#daifahuo").click(function () {
		$("#daifukuan1").css('display','none');
		$("#daifahuo1").css('display','table'); 
		$("#daishouhuo1").css('display','none'); 
		$("#daipingjia1").css('display','none'); 
	});
	$("#daishouhuo").click(function () {
		$("#daifukuan1").css('display','none');
		$("#daifahuo1").css('display','none'); 
		$("#daishouhuo1").css('display','table'); 
		$("#daipingjia1").css('display','none'); 
	});
	$("#daipingjia").click(function () {
		$("#daifukuan1").css('display','none');
		$("#daifahuo1").css('display','none'); 
		$("#daishouhuo1").css('display','none'); 
		$("#daipingjia1").css('display','table'); 
	});
	
</script>

</body>
</html>
